# A005 Module is shadowing a Python builtin module
# ANN001 Missing type annotation for function argument
# ANN201 Missing return type annotation for public function
# ANN202 Missing return type annotation for private function
# E501 Line too long (handled already with other linters)
# FA102 future-required-type-annotation
# N802 Function name should be lowercase
# N816 Variable in global scope should not be mixedCas
# PLC0415 import-outside-top-level
# PLR0913 too-many-arguments (of function definition)
# PLR0917 too-many-positional-arguments (of function definition)
# PLR2004 magic-value-comparison (unnamed numerical constants ("magic") values)
# PLR6301 Method could be a function, class method, or static method
# PLW0603 (checks for use of) global-statement
# S104 Possible binding to all interfaces
# S107 hardcoded-password-default
# S113 Probable use of `requests` call without timeout
# S606 start-process-with-no-shell
# SIM102 Use a single `if` statement instead of nested `if` statement

lint.ignore = ["ANN001", "ANN201", "ANN202", "E501", "FA102", "N802", "N816", "PLR0913", "PLR0917", "PLR6301", "PLW0603", "S107", "S113", "S606"]

[lint.per-file-ignores]
"tests/testsuite.py" = [ "PLC0415",]
"src/actinia_cloudevent_plugin/resources/logging.py" = ["A005",]
"src/actinia_cloudevent_plugin/resources/config.py" = ["SIM102","S105"]
"tests/integrationtests/test_cloudevent.py" = ["PLR2004",]
"tests/cloudevent_receiver_server.py" = ["S104"]
"tests/integrationtests/test_hook.py" = ["PLR2004",]
