services:

  actinia-cloudevent:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # -- For dev-setup and/or tests mount plugin src code:
    # volumes:
    #   - ..:/src/actinia-cloudevent-plugin/.
    cap_add:
      - SYS_PTRACE
    ports:
      - "5000:5000"
    # network_mode: "host"

  actinia-core:
    image: mundialis/actinia:2.12.2
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:9.0-alpine
    command: [
      "sh",
      "-c",
      'docker-entrypoint.sh
      --requirepass pass'
    ]
