---

# SPDX-FileCopyrightText: (c) 2018-2025 by mundialis GmbH & Co. KG
# SPDX-License-Identifier: GPL-3.0-or-later

services:

  actinia-cloudevent:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # -- For dev-setup and/or tests mount plugin src code:
    # volumes:
    #   - ..:/src/actinia-cloudevent-plugin/.
    cap_add:
      - SYS_PTRACE
    ports:
      - "3003:3003"

  event-receiver-server:
    build:
      context: ..
      dockerfile: docker/Dockerfile_eventreceiver

  actinia-core:
    image: mundialis/actinia:2.12.2
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:9.0-alpine
    command: [
      "sh",
      "-c",
      'docker-entrypoint.sh
      --requirepass pass'
    ]
